.flex {
}
.flex-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pager {
  max-width: 800px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
}

.header {
  box-sizing: border-box;
  padding: 0 59px 0 59px;
  justify-content: space-between;
}

.spinner {
  justify-content: center;
  font-size: .8em;
  text-transform: lowercase;
  align-items: center;
  font-style: italic;
}

.spinner img {
  width: 30px;
  margin-top: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.search input {
  padding: 10px;
  font-size: 1em;
}

.search-results {
  position: absolute;
  top: 63px;
  background: white;
  border: 1px solid grey;
  min-width: 200px;
  box-sizing: border-box;
  padding: 10px;
}

.search-results ul {
  list-style-type: none;
  padding: 0 0 15px 0;
  margin: 0px;
  border-bottom: 1px solid #ccc;
}

.search-results p {
  text-align: center;
  font-size: .8em;
  line-height: .5em;
  padding: 0;
}

.supporters {
  overflow: hidden;
}

.supporter {
  flex: 1;
  box-sizing: border-box;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-photo {
}

.profile-photo img {
  width: 100px;
  width: 100px;
  border-radius: 400px;
  margin: auto;
  display: block;
}

.arrow {
  font-size: 3em;
  align-items: center;
  justify-content: center;
}
